step_functions/scale_in_asl.json
{
  "Comment": "Qumulo Two-Phase Node Scale-In Workflow",
  "StartAt": "StartScaleInP1",
  "States": {
    "StartScaleInP1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "<ARN OF YOUR LAMBDA FUNCTION>",
        "Payload": {
          "action": "scale_in_p1"
        }
      },
      "ResultPath": "$.P1Result",
      "Next": "Wait15SecondsP1"
    },
    "Wait15SecondsP1": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "GetSSMStatusP1"
    },
    "GetSSMStatusP1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.P1Result.Payload.command_id",
        "InstanceId": "<PROVIDE INSTANCE ID WHERE YOUR CNQ TERRAFROM IS RUNNING>"
      },
      "ResultPath": "$.P1Status",
      "Next": "CheckSSMStatusP1"
    },
    "CheckSSMStatusP1": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.P1Status.Status",
          "StringEquals": "Success",
          "Next": "StartScaleInP2"
        },
        {
          "Variable": "$.P1Status.Status",
          "StringEquals": "Failed",
          "Next": "Failed"
        }
      ],
      "Default": "Wait15SecondsP1"
    },
    "StartScaleInP2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "<ARN OF YOUR LAMBDA FUNCTION>",
        "Payload": {
          "action": "scale_in_p2"
        }
      },
      "ResultPath": "$.P2Result",
      "Next": "Wait15SecondsP2"
    },
    "Wait15SecondsP2": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "GetSSMStatusP2"
    },
    "GetSSMStatusP2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:getCommandInvocation",
      "Parameters": {
        "CommandId.$": "$.P2Result.Payload.command_id",
        "InstanceId": "<PROVIDE INSTANCE ID WHERE YOUR CNQ TERRAFROM IS RUNNING>"
      },
      "ResultPath": "$.P2Status",
      "Next": "CheckSSMStatusP2"
    },
    "CheckSSMStatusP2": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.P2Status.Status",
          "StringEquals": "Success",
          "Next": "Succeeded"
        },
        {
          "Variable": "$.P2Status.Status",
          "StringEquals": "Failed",
          "Next": "Failed"
        }
      ],
      "Default": "Wait15SecondsP2"
    },
    "Succeeded": {
      "Type": "Succeed"
    },
    "Failed": {
      "Type": "Fail"
    }
  }
}